body {
  margin: 0px;
}
#header {
  background-color: #001f3f;
  height: 200px;
}
#menu {
  background-color: #3D9970;
  height: 50px;
  ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333333;
}


.logo {
  height: 200px;
}
#content {
  background-color: #7FDBFF;
  height: 1000px;
  padding: 20px;

}
#footer {
  background-color: #85144b;
  height: 150px;
}
